<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.minesec.service.mapper.UserInfoMapper">
<!--    <select id="queryUserList" resultType="user">-->
<!--        select * from user-->
<!--    </select>-->

<!--    <select id="queryUserByID" resultType="user">-->
<!--        select * from user where id= #{id}-->
<!--    </select>-->

    <insert id="insertUserDeviceInfo" parameterType="com.minesec.service.dao.UserDeviceInfoDao">
        insert into t_user_info(user_id,root,safety_net_attestation_available,safety_net_attestation_trusted,basic_integrity,cts_profile_match,create_time,update_time)
        values (#{userId}, #{root},#{safetyNetAttestationAvailable},#{safetyNetAttestationTrusted},#{basicIntegrity},#{ctsProfileMatch},now(),now())
    </insert>
</mapper>
